apache-beam[gcp]
tensorflow
keras
nltk
spacy
numpy==1.20.0
fsspec==0.8.4
gcsfs==0.7.1
gensim==3.6.0
pandas==1.5.3
google-cloud-storage
google-cloud-bigquery
google-cloud-pubsub
google-cloud-datastore
google-api-python-client
oauth2client